{% extends "RMTTimeSchedulingWeeklyGridBundle::layout.html.twig" %}

{% block weekly_grid %}

<table class='table'>

	<thead>
		<th>
			Hours
		</th>
		<th>
			Monday
		</th>
		<th>
			Tuesday
		</th>
		<th>
			Wednesday

		</th>
		<th>
			Thursday
		</th>
		<th>
			Friday
		</th>
		<th>
			Saturday
		</th>
		<th>
			Sunday
		</th>
	</thead>
	<tbody>

		 {% for i in range (0,24) %}
		 	
		 	<tr>
		 		<td>
		 			{{i}}:00
		 		</td>
		 		{% for j in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
		 			<td>
		 				{%if days[j] is defined and i >= days[j].start_hour and i <= days[j].end_hour %}
		 		    		<span style="background-color: #99ff99; display: block;">&nbsp;</span>
		 		 		{% endif %}
		 		 	</td>
		 		{% endfor %}
		 	</tr>

		 {% endfor %}

	</tbody>

</table>

{% endblock %}
