{% extends "RMTUserManagmentUserBundle::layout.html.twig" %}
{% block headline %}{{ parent() }} - Reset password{% endblock headline %}
{% block fos_user_content %}
<div class="span12">
{% include "RMTUserManagmentUserBundle:Resetting:request_content.html.twig" %}
</div>
{% endblock fos_user_content %}
