{% extends 'MopaBootstrapBundle::layout.html.twig' %}
{% block content %}
<div class="sidebar">menu</div>

<div class="dashboard_content">
    {% block dashboard_content %}
        gut
    {% endblock dashboard_content %}
</div>
{% endblock content %}